{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row banniere">

            {# TITRE #}
            <div class="col-md-6 titre-banniere">
                <h1>DESKAD</h1>
                <p>Blog Made in Quimper</p>
                <a href="#" class="bouton">Qui suis-je</a>
            </div>

            {# METEO #}
            <div class="col-md-6 meteo-banniere">
                <div class="meteo-container">
                    <h2 id="showVille"></h2>
                    <div class="icon">
                        <img src="/assets/images/meteo/jour/01d.svg" alt="icone" class="logo-meteo">
                    </div>
                    <h3 id="description"></h3>
                    <p id="showTemp"></p>
                    {# <a href="#" id="changeVille" class="bouton">Changer de ville</a> #}
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}
