<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Deskad</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
            <a class="nav-link active" href="/">Accueil
                <span class="visually-hidden">(current)</span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ path('posts') }}">Articles</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">À propos</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Projets</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Mon site</a>
                <a class="dropdown-item" href="#">Pied de vigne</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Mon profil CodePen</a>
                <a class="dropdown-item" href="#">Mon profil GitHub</a>
            </div>
            </li>
        </ul>
        
        <a href="#" class="btn btn-secondary my-2 my-sm-0" title="Prochainement !">Connexion</a>
        
        </div>
    </div>
    </nav>
</header>